
body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#container {
	width: 930px;
	margin: 0 auto;
	border: 1px solid #6a5b3e;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #f5f2e1;
}
.pathFinder {
	padding: 0px 10px 0px 20px;
	color: #6a5b3e;
	font-size: 12px;
}
.mainHeader {
	padding: 0px 10px 0px 20px;
	color: #c7743e;
	font-size: 18px;
	font-weight: bold;
}
.mainHeader p {
	margin: 0;
	padding: 10px 0px;
}
.mainHeader img {
	border: 0px;
}
.sideBarL {
	float: right;
	width: 260px;
	direction: rtl;
	padding: 0px 10px 0px 10px;
}
#sideBar .item {
	display: block;
	padding: 6px 0 0 0;
	height: 25px;
	width: 245px;
	margin: 1px 0px;
	color: #6e4529;
	font-size: 14px;
	font-weight: bold;
	background-color: #EAE2CB;
	direction: rtl;
	text-indent: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dacdad;
	border-right-color: #dacdad;
	border-bottom-color: #dacdad;
	border-left-color: #dacdad;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
}


#sideBar .activeItem {
	display: block;
	padding: 6px 0 0 0;
	height: 25px;
	width: 260px;
	margin: 1px -13px;
	color: #6e4529;
	font-size: 14px;
	font-weight: bold;
	background-color: #d6cbb5;
	direction: ltr;
	text-indent: 10px;
	background-image: url(../img/sideMenu2.jpg);
	background-repeat: no-repeat;
	background-position: right;
}



#mainContent {
	margin: 0 250px 0 0;
	padding: 0 20px;
	direction: rtl;
}
#mainContent p {
	font-size: 14px;
	text-align: justify;
	text-indent: 30px;
	line-height: 20px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
